/* dashboard/static/dashboard/css/style.css */

.sidebar {
    width: 220px;
    background-color: #D1D1D1;
    min-height: 100vh;
}

.list-group-item {
    background-color: #D1D1D1;
    color: #222222;
    font-weight: bold;
}

.card {
    background-color: #FAFAFA;
    color: #222222;
    border: 1px solid #D1D1D1;
    box-shadow: 1px 1px 5px #929292;
}
