{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="login-container">
    <div class="login-box">
        <div class="neumorphic-card">
            <h2 class="neumorphic-title">Forgot Password</h2>
            <form method="post">
                {% csrf_token %}
                <input type="email" name="email" class="neumorphic-input" placeholder="Enter your email" required />
                <button type="submit" class="neumorphic-button">Send New Password</button>
            </form>
            <p class="neumorphic-footer">
                Remembered? <a href="{% url 'login' %}" class="neumorphic-link">Login</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
