{% extends "base.html" %}
{% block title %}Books{% endblock %}
{% block page_title %}Library Books{% endblock %}

{% block content %}
<div class="container">
  <h4 class="mb-3">Library Books</h4>
  <ul class="list-group">
    {% for book in books %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span><i class="fas fa-book mr-2 text-primary"></i>{{ book.title }}</span>
        <span>{{ book.author }}</span>
      </li>
    {% empty %}
      <li class="list-group-item">No books available.</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
